<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.3.xsd
                        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd
                        http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
                        http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task-4.3.xsd">


	<!-- 对静态资源文件的访问 -->
	<mvc:resources mapping="/javascript/**" location="/js/" />
	<mvc:resources mapping="/styles/**" location="/css/" />
	<mvc:resources mapping="/images/**" location="/images/" />
	<mvc:default-servlet-handler />
	<!-- task任务扫描注解 <task:annotation-driven/> -->

	<bean
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/jsp/" />
		<property name="suffix" value=".jsp" />
	</bean>

	<!-- 只扫描@Controller注释的类 -->
	<context:component-scan base-package="com.awifi.**.controller"
		use-default-filters="false">
		<context:include-filter expression="org.springframework.stereotype.Controller"
			type="annotation" />
	</context:component-scan>

	<!-- json 处理 -->
	<bean id="jsonObjectMapper" class="com.fasterxml.jackson.databind.ObjectMapper">
		<property name="serializationInclusion">
			<value type="com.fasterxml.jackson.annotation.JsonInclude.Include">NON_EMPTY</value>
		</property>
	</bean>
	<mvc:annotation-driven>
		<mvc:message-converters>
			<bean
				class="org.springframework.http.converter.json.MappingJackson2HttpMessageConverter">
				<property name="objectMapper" ref="jsonObjectMapper" />
				<property name="supportedMediaTypes">
					<list>
						<value>text/html;charset=UTF-8</value>
						<value>text/plain;charset=UTF-8</value>
						<value>application/json;charset=utf-8</value>
					</list>
				</property>
			</bean>
		</mvc:message-converters>
	</mvc:annotation-driven>

	<!-- Spring MVC的统一异常处理 -->
	<!-- <bean class="com.awifi.aistores.biz.common.exception.handler.ExceptionHandler"
		id="exceptionResolver">
	</bean> -->


	<!-- SpringMVC上传文件时，需要配置MultipartResolver处理器 -->
	<!-- <bean id="multipartResolver"
		class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
		<property name="defaultEncoding" value="UTF-8" />
		指定所上传文件的总大小不能超过200KB。注意maxUploadSize属性的限制不是针对单个文件，而是所有文件的容量之和
		<property name="maxUploadSize" value="20000000" />
	</bean> -->


	<!-- <mvc:interceptors>
		管理系统数据接口拦截器（客户端）
		<mvc:interceptor>
			<mvc:mapping path="/aistores/**" />
            <mvc:exclude-mapping path="/materialsrv/security/check"/>屏蔽 安全接口 
            <mvc:exclude-mapping path="/aistores/materialcontrasttask/start"/>屏蔽 点检任务回调接口 
			<mvc:exclude-mapping path="/aistores/materialcontrast/image"/>屏蔽 图片获取接口 
			<bean
				class="com.awifi.aistores.biz.materialsrv.interceptor.AppDataInterceptor">
			</bean>
		</mvc:interceptor>
	</mvc:interceptors> -->
</beans>